<?xml version="1.0" encoding="utf-8"?>
    <packages>
      <package id="sql-server-management-studio" />
      <package id="visualstudio2019community" />
      <package id="visualstudio2019-workload-netcoretools" />
      <package id="visualstudio2019-workload-netweb" />        
      <package id="visualstudio2019-workload-node" />  
      <package id="visualstudio2019-workload-azure" /> 
      <package id="visualstudio2019-workload-data" /> 
      <package id="visualstudio2019-workload-python" />  
      <package id="resharper" packageParameters="--version 2017.3.5" />
    </packages>
